body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
    background: #b3dced;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */


}

.container {
    width: 90%;
    max-width: 500px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: inherit;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.container .titulo {
    text-align: center;
    color: #f5efef;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario .form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    margin-bottom: 15px;
}

.form-group label {
    color: #f5efef;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group .form-control {
    padding: 8px 5px;
    border-radius: 5px;
    outline: none;
}

.form-group .buttonSubmit {
    padding: 10px 5px;
    color: #f5efef;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
    background: rgb(122, 188, 255);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}